.App {
  text-align: center;
}



.TodoItemWrapper{
  border: 2px solid green;
}
.card{
display: flex;
border: 2px solid lightgray;
width: 100vh;
height: auto;
justify-content: center;
align-items: center;
}
.cardBody h2:hover{
  background-color:greenyellow ;
}