.App {
  text-align: center;
}



.TodoItemWrapper {
  border: 2px solid green;
}

.card {
  display: flex;
  border: 2px solid lightgray;
  width: 100vh;
  height: auto;
  justify-content: center;
  align-items: center;
}

.cardBody h2:hover {
  background-color: greenyellow;
}

.navContainer {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  font-family: Roboto-Regular;
  background: #4A90E2;
  font-size: 24px;
  color: #00408B;
  display: flex;
}

@media screen and (max-width:700px) {

  .bg_navbar,
  .navContainer {
    flex-direction: column;
    align-items: center;
  }
}


.filter {
  width: 16vw;
  height: auto;
  text-align: center;
  justify-content: center;
  padding: 24px 0px 24px 0px;
  margin: 0 30px 0 30px;
}

.filterC {
  width: 16vw;
  height: auto;
  text-align: center;
  justify-content: center;
  background-color: red;
  padding: 24px 0px 24px 0px;
  margin: 0 30px 0 30px;
}


.filter:hover {
  box-sizing: border-box;
  padding: 24px 0px 19px 0px;
  border-bottom: #00408B 5px solid;
  color: #FFFFFF;

}

@media screen and (max-width:700px) {
  .filter {
    width: 100%;
  }
}

.hide {
  display: none;
}

.Tabs {
  width: 80%;
  height: auto;
  min-height: 400px;
  background: #053742;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #E8F0F2;
  border-radius: 2rem;

  @media (max-width: 769px) {
    padding: 2rem 0;
  }

}

/* Tab Navigation */
ul.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  padding-left: 0px;

  @media (max-width: 768px) {
    width: 90%;
  }
}

ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}

ul.nav li:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

ul.nav li:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}

ul.nav li.active {
  background: #39A2DB;
}

/* Tab Content Styles */
.TabContent {
  font-size: 2rem;
  text-align: center;
}